<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
    
</head>
<body>
    {{{body}}}
   
</script>


    <div id="notification" class="notification hidden">
  <p id="notification-text">This is a notification!</p>
</div>

</body>
</html>