<div class="auth-container">
    <form action="/auth/register" method="post" class="auth-form">
        <h2>Register</h2>

        <label for="Username">Username</label>
        <input type="text" name="Username" required />

        <label for="Displayname">Displayname</label>
        <input type="text" name="Displayname" />

        <label for="Email">Email</label>
        <input type="email" name="Email" required />

        <label for="Password">Password</label>
        <input type="password" name="Password" required />

        <button type="submit">Submit</button>
    </form>
</div>
